#map-canvas {
  /*height: 40%;*/
  margin: 0px 0%;
  padding: 20% 0px
  }

.navbar-fixed {
  top: 0;
  z-index: 200;
  position: fixed;
  width: 100%;
}
.card .card-image img.thumb-img{
  width: 250px;
  height: 250px;
}
.card-item
{
  display: block;
  width: 30%;
  padding: 10px;
}
